.navbar {
    /* background-color: rgb(72, 75, 249) !important */
    color: blue !important;
    background-color: black !important;
    padding: 0rem;
    margin: 0rem;
    
    
}



.newsit {
    background: url(../../assets/images/newsit.png) no-repeat;
    width: 60px
}

/* .no-auth {
    display: none;
} */

