/* body {
font-family: century-old-style-std,serif;
font-weight: 400;
font-style: normal
} */

p {
font-size: 1.125rem;
font-family: century-old-style-std,serif;
font-weight: 400;
font-style: normal
}

h3 {
    font-family: century-old-style-std,serif !important;
    font-weight: 400;
    font-style: normal
}

h5 {
    font-family: century-old-style-std,serif !important;
    font-style: normal
}

h1{
    font-family: century-old-style-std,serif !important;
    font-style: normal
}


.hi {
    background-image: linear-gradient(to right, rgb(139, 235, 139), white);
    font-style: italic;
    margin: .5rem 0;
  }
  
  .md {
    background-image: linear-gradient(to right, rgb(153, 188, 230), white);
    font-style: italic;
    margin: .5rem 0;
  }
  
  .lo {
    background-image: linear-gradient(to right, rgb(254, 95, 95), white);
    font-style: italic;
    margin: .5rem 0;
  }

  li {
    border: '1px, solid, blue'
  }

