/* body {
font-family: century-old-style-std,serif;
font-weight: 400;
font-style: normal
} */

p {
font-size: 1.125rem;
font-family: century-old-style-std,serif;
font-weight: 400;
font-style: normal
}
h3 {
    font-family: century-old-style-std,serif !important;
    font-weight: 400;
    font-style: normal

}
h5{
    font-family: century-old-style-std,serif !important;
    font-style: normal
}
h1{
    font-family: century-old-style-std,serif !important;
    font-style: normal
}
