.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.tinyLine {
  border-top: 3px;
  border-bottom: 3px;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 400px;
}

