.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.positive {
  background-image: linear-gradient(to right, rgb(139, 235, 139), white);
  font-style: italic;
  font-size: 0.9rem;
  margin: .5rem 0;
}

.neutral {
  background-image: linear-gradient(to right, rgb(153, 188, 230), white);
  font-style: italic;
  font-size: 0.9rem;
  margin: .5rem 0;
}

.negative {
  background-image: linear-gradient(to right, rgb(254, 95, 95), white);
  font-style: italic;
  font-size: 0.9rem;
  margin: .5rem 0;
}

.tinyLine {
  border-top: 3px;
  border-bottom: 3px;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 400px;
}

