<<<<<<< HEAD
.jumbotron {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin: 1rem 0 1rem 0;
    padding: 3rem 2rem 1rem !important;
    border-bottom: double;
    border-top: thin;
    position: relative;
    
}

h1 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        max-height: 250px !important;
        padding-top: 20px !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    h5{
        font-size: 0.9rem !important;
        font-weight: 500 !important;
    }
}

@media only screen and (max-width: 760) {
    .jumbotron {
        max-height: 450px !important;
        min-height: 350px !important;
        padding-top: 20px !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    h5{
        font-size: 0.9rem !important;
        font-weight: 500 !important;
    }
}



=======
.jumbotron {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin: 1rem 0 1rem 0;
    padding: 3rem 2rem 1rem !important;
    border-bottom: double;
    border-top: thin;
    position: relative;
    
}

h1 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        max-height: 250px !important;
        padding-top: 20px !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    h5{
        font-size: 0.9rem !important;
        font-weight: 500 !important;
    }
}

@media only screen and (max-width: 760) {
    .jumbotron {
        max-height: 450px !important;
        min-height: 350px !important;
        padding-top: 20px !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    h5{
        font-size: 0.9rem !important;
        font-weight: 500 !important;
    }
}



>>>>>>> 8d3606f5b915be0a1dec1b1b7445921771baf4ff
