.jumbotron {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin: 1rem 0 1rem 0;
    padding: 3rem 2rem 1rem !important;
    border-bottom: double;
    border-top: thin;
    position: relative;
    
}

h1 {
    margin-bottom: 1rem;
}
